.password_reset_confirm {
  min-height: 100vh;
  overflow: auto;
  background-size: cover;
  background-image: url("../Login/Images/login_background.avif");
  }
  
  .password_reset_confirm__card {
    display: flex;
    flex-direction: column;
    max-width: 17vw;
    min-height: 30vh;
    margin: auto;
    margin-top: 12rem;
    background: linear-gradient(#f1b8aa, #ea708c);
    border-radius: 1rem;
    box-shadow: 2px 2px 15px;
  }
  
  .password_reset_confirm__card__info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .password_reset_confirm__card form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .password_reset_confirm__card__success {
    display: flex;
    text-align: center;
    margin-top: 1rem;
    background-color: #003747;
    color: rgb(38, 201, 38);
    height: 4rem;
    justify-content: center;
    align-items: center;
  }

  .password_reset_confirm__card__error {
    display: flex;
    text-align: center;
    margin-top: 1rem;
    background-color: #003747;
    color: red;
    height: 4rem;
    justify-content: center;
    align-items: center;
  }
  
  .password_reset_confirm__card__info p {
    margin: 0;
    font-size: 1rem;
    color: white;
  }
  
  .password_reset_confirm__card h1 {
    max-width: inherit;
    text-align: center;
    text-shadow: 1px 1px 2px;
    color: #9170ea;
    margin-bottom: 0.5rem;
  }
  
  .password_reset_confirm__card__info h3 {
    align-self: center;
  }
  
  .password_reset_confirm__card__info span {
    color: #9170ea;
  }

  .password_reset_confirm__card__info span:hover {
    cursor: pointer;
  }
  
  .password_reset_confirm__card__info b {
    color: white;
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .password_reset_confirm__card input {
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    margin-top: 25px;
    max-width: 80%;
    align-items: center;
    padding-left: 0.5rem;
  }
  
  .password_reset_confirm__card button {
    margin-top: 2rem;
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: #9170ea;
    color: white;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
  }
  
  .password_reset_confirm form a {
      text-decoration: none;
      color:#9170ea;
      margin-top: 1rem;
      font-size: 1rem;
  }
  
  ::-webkit-input-placeholder {
    padding-left: 4px;
    font-size: medium;
    color: #9170ea;
  }
  