.veterinarians_details {
  min-height: 100vh;
  padding-top: 20vh;
}

.veterinarians_details h2 {
  text-align: center;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 10vh;
}

.pagination li {
  font-size: large;
  font-weight: 600;
  padding:0.5rem;
  margin:0.25rem;
}

.pagination li:hover {
  cursor: pointer;
}

.pagination_active {
  background-color: rgb(74, 204, 204);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px black;
}

.pagination_disable {
  visibility: hidden;
}

.veterinarians_details hr {
  margin-top: 5rem;
  max-width: 90vw;
  box-shadow: 1px 1px 10px #33bcdf;
}

.veterinarians_details__success {
  color: green;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-size: 1.1rem;
}

.veterinarians_details__error {
  color: red;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-size: 1.1rem;
}