.change_waiting_adoption_button {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.change_waiting_adoption_button button {
    background-color: #7C9ACF;
    color: #FFE9CF;
    box-shadow: 1px 1px 5px #7C9ACF;
    border-radius: 0.75rem;
    border: none;
    font-size: 1.15rem;
    padding: 4px;
}

.change_waiting_adoption_button button:hover {
    background-color: rgb(97, 97, 250);
}