.waiting_adoption_details {
  min-height: 100vh;
  padding: 20vh 0vh 10vh 0vh;
}

.waiting_adoption_details h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.waiting_adoption_details__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 1.25rem;
  width: 35rem;
  border-radius: 1rem;
  box-shadow: -1px 1px 10px #33bcdf;
  padding: 1rem;
  margin: auto;
  margin-bottom: 5rem;
}

.waiting_adoption_details__form__picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waiting_adoption_details__form__picture__background {
  display: flex;
  margin: 1.25rem;
  min-width: 25vw;
  min-height: 25vh;
  border-radius: 0.75rem;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.waiting_adoption_details__form__info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.waiting_adoption_details__form__info input,
.waiting_adoption_details__form__name input {
  font-size: 1.1rem;
}

.waiting_adoption_details__form__picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.waiting_adoption_details__form__name input {
  margin-left: 1rem;
  border-radius: 0.75rem;
  border: none;
  padding: 2px 5px;
}

.waiting_adoption_details__form__info textarea {
  width: 20vw;
  height: 10vh;
  border-radius: 0.75rem;
  font-size: 0.85rem;
  padding: 0.5rem;
  align-self: center;
  margin-bottom: 2rem;
}

.waiting_adoption_details__form button {
  border-radius: 0.5rem;
  border: 1px solid black;
  width: 5rem;
  height: 2rem;
  margin: 2rem 0rem 1rem;
  font-weight: 600;
  align-self: center;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 10vh;
}

.pagination li {
  font-size: large;
  font-weight: 600;
  padding: 0.5rem;
  margin: 0.25rem;
}

.pagination li:hover {
  cursor: pointer;
}

.pagination_active {
  background-color: rgb(74, 204, 204);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px black;
}

.pagination_disable {
  visibility: hidden;
}

.waiting_adoption_details__success {
  color: green;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-size: 1.1rem;
  margin-top: -1.5rem;
}

.waiting_adoption_details__error {
  color: red;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  font-size: 1.1rem;
  margin-top: -1.5rem;
}
